In [91]:
# importa las librerias necesarias para manejar datos, realizar operaciones numericas y conectar con postgresql
import pandas as pd 
import numpy as np 
import psycopg2

In [92]:
# establece la conexion con la base de datos postgresql usando las credenciales y parametros especificados
conn = psycopg2.connect(
    dbname="reservas_proyecto",
    user = "postgres",
    password = "admin",
    host = "localhost",
    port = "5432")

In [93]:
# crea un cursor para ejecutar consultas en la base de datos
cur = conn.cursor()

In [94]:
# ejecuta una consulta para obtener la version del servidor de la base de datos y muestra el resultado
cur.execute("SELECT version();") 
cur.fetchone()

('PostgreSQL 17.2 on x86_64-windows, compiled by msvc-19.42.34435, 64-bit',)

### Tabla ciudad

In [203]:
# carga el dataframe desde un archivo pickle y muestra una muestra aleatoria de 5 filas
df_reservas = pd.read_pickle("../data/reservas_hoteles_limpio.pickle")
df_reservas.sample(5)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
3108,ec369fc8-c903-4014-b2cf-6c0ac42a9ffa,3106,Berta,Garzón,berta.garzón@example.com,True,2025-02-21,2025-03-01,2025-03-02,135,85.00,ibis Madrid Alcobendas,NaN,Madrid
12325,e04e8397-611f-4057-91da-9f3cb8b99dfe,12269,Prudencio,Carrera,prudencio.carrera@example.com,False,2025-02-11,2025-03-01,2025-03-02,35,363.24,Hotel Torre Dorada,2.9,Madrid
7620,1bbf4862-d27e-46cb-94f2-615a3ebb8369,7592,David,Cadenas,david.cadenas@example.com,True,2025-02-21,2025-03-01,2025-03-02,103,102.00,ibis budget Madrid Vallecas,NaN,Madrid
14565,4c2cee9a-97e1-4004-a5e4-ed6b33a43394,14475,Primitiva,Luján,primitiva.luján@example.com,False,2025-02-09,2025-03-01,2025-03-02,15,240.63,Hotel Monte Verde,3.1,Madrid
11017,24c796c8-23fc-4e4c-87ff-c074c1d43b55,10969,Chita,Valero,chita.valero@example.com,False,2025-02-06,2025-03-01,2025-03-02,3,255.18,Hotel Mirador Real,3.0,Madrid

In [96]:
# crea un dataframe con los valores unicos de la columna "ciudad" y lo nombra "nombre_ciudad"
tabla_ciudad = pd.DataFrame(df_reservas["ciudad"].unique(), columns=["nombre_ciudad"])

tabla_ciudad

  nombre_ciudad
0        Madrid

In [97]:
# crea una lista de listas con los valores de la columna "nombre_ciudad" para su posterior insercion en la base de datos
data_to_insert = [[row["nombre_ciudad"]] for indice, row in tabla_ciudad.iterrows()]

In [98]:
# define la consulta SQL para insertar valores en la tabla "ciudad" usando un parametro (%s) para cada nombre de ciudad
insert_query = """
        INSERT INTO ciudad (nombre_ciudad)
        VALUES (%s)
"""

In [99]:
# ejecuta la consulta de insercion en la base de datos con los datos preparados y confirma los cambios
cur.executemany(insert_query, data_to_insert)
conn.commit()

### Tabla eventos

In [171]:
# carga el archivo pickle de eventos en un dataframe y muestra una muestra aleatoria de 5 filas
df_eventos = pd.read_pickle("../data/datos_extraidos/tabla_eventos.pickle")
df_eventos.sample(5)

,nombre_evento,url_evento,codigo_postal,direccion,horario,organizacion,inicio_evento,fin_evento,ciudad
273,'Refugiados' por Myriam Laguía,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28019,CALLE ISAAC ALBENIZ 1,19:00,Biblioteca Pública Municipal Ana María Matute ...,2025-02-14,2025-03-13,Madrid
128,IX Muestra de Orfebrería Contemporánea,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28012,CALLE CONCEPCION JERONIMA 15,14:00,Imprenta Municipal - Artes del libro,2025-01-28,2025-03-23,Madrid
151,Ludoteca en Centro Cultural Fernando de los Ríos,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28047,CALLE CAMARENA 10,None,Centro Cultural Fernando de los Ríos (Latina),2024-10-04,2025-06-28,Madrid
212,Taller de cómic (Infantil),http://www.madrid.es/sites/v/index.jsp?vgnextc...,28029,PLAZA DONOSO 5,17:30,Biblioteca Pública Municipal María Zambrano (T...,2025-01-08,2025-06-04,Madrid
144,Literatura con nombre de mujer: Club de lectura.,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28022,PLAZA EURIPIDES 1,10:00,Espacio de Igualdad Lucía Sánchez Saornil. San...,2025-01-09,2025-03-28,Madrid

In [172]:
# ejecuta una consulta SQL para obtener los nombres de las ciudades y sus respectivos IDs, y los guarda en un diccionario
cur.execute("SELECT nombre_ciudad, id_ciudad FROM ciudad")
ciudad_dict = dict(cur.fetchall()) 
ciudad_dict

{'Madrid': 1}

In [173]:
# crea la lista `data_to_insert` procesando el dataframe `df_eventos` para insertar los datos en la tabla de eventos, eliminando duplicados, convirtiendo el codigo postal y las fechas al formato adecuado, y asociando las ciudades con su `id`
data_to_insert = []
df_evento = df_eventos[["nombre_evento", "url_evento", "codigo_postal", "direccion", "horario", "inicio_evento", "fin_evento", "organizacion", "ciudad"]].drop_duplicates()
for _, row in df_eventos.iterrows(): 
    nombre_evento = row["nombre_evento"]
    url_evento = row["url_evento"]
    codigo_postal = row["codigo_postal"]
    codigo_postal = int(codigo_postal) if pd.notna(codigo_postal) else None
    direccion = row["direccion"]
    horario = row["horario"]
    fecha_inicio = pd.to_datetime(row["inicio_evento"])
    fecha_fin = pd.to_datetime(row["fin_evento"])
    organizacion = row["organizacion"]
    ciudad = row["ciudad"]
    id_ciudad = int(ciudad_dict.get(ciudad))
    data_to_insert.append([nombre_evento, url_evento, codigo_postal, direccion, horario, fecha_inicio, fecha_fin, organizacion, id_ciudad]) 

# crea el dataframe `tabla_eventos` con la informacion procesada y lo muestra
tabla_eventos = pd.DataFrame(data_to_insert, columns=["nombre_evento", "url_evento", "codigo_postal", "direccion", "horario", "fecha_inicio", "fecha_fin", "organizacion", "id_ciudad"])
tabla_eventos.head()

,nombre_evento,url_evento,codigo_postal,direccion,horario,fecha_inicio,fecha_fin,organizacion,id_ciudad
0,25º aniversario de la revista La Fragua,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28005.0,CALLE SAN JUSTO 5,None,2025-02-24,2025-03-02,Biblioteca Pública Municipal Iván de Vargas (C...,1
1,60 Premio Reina Sofía de Pintura y Escultura,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28009.0,PASEO COLOMBIA 1,None,2025-02-27,2025-03-23,Centro Cultural Casa de Vacas (Retiro),1
2,A toda vela,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28045.0,PLAZA LEGAZPI 8,None,2024-10-01,2025-06-01,Matadero Madrid,1
3,Acompañamiento digital a personas mayores,http://www.madrid.es/sites/v/index.jsp?vgnextc...,NaN,None,None,2024-10-14,2025-06-30,None,1
4,Acompañar en la pérdida,http://www.madrid.es/sites/v/index.jsp?vgnextc...,28029.0,AVENIDA MONFORTE DE LEMOS 38,17:00,2025-01-14,2025-06-17,Biblioteca Pública Municipal José Saramago (Fu...,1

In [174]:
# prepara y ejecuta una consulta SQL para insertar multiples registros en la tabla `eventos` de la base de datos, luego confirma los cambios
insert_query = """
        INSERT INTO eventos (nombre_evento, url_evento, codigo_postal, direccion, horario, fecha_inicio, fecha_fin, organizacion, id_ciudad)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

### Tabla hoteles

In [177]:
# filtra los hoteles que no son competencia y selecciona las columnas relevantes sin duplicados
df_reservas.head()
df_propios = df_reservas[df_reservas["competencia"] == False]
df_propios = df_propios[["nombre_hotel", "estrellas", "competencia", "ciudad"]].drop_duplicates()
df_propios

              nombre_hotel  estrellas  competencia  ciudad
2        Hotel Monte Verde        3.1        False  Madrid
3     Hotel Brisas del Mar        3.1        False  Madrid
4     Hotel Camino del Sol        3.1        False  Madrid
5   Hotel Puerta del Cielo        3.0        False  Madrid
6       Hotel Encanto Real        3.0        False  Madrid
8          Palacio del Sol        3.0        False  Madrid
10  Hotel Jardines del Rey        2.9        False  Madrid
13     Hotel Las Estrellas        2.9        False  Madrid
15       Gran Hotel Madrid        3.1        False  Madrid
17      Hotel Torre Dorada        2.9        False  Madrid
18  Hotel Palacio Imperial        3.0        False  Madrid
20     Hotel Luz de Madrid        3.1        False  Madrid
22     Hotel Los Almendros        3.0        False  Madrid
24        Hotel Sol y Luna        3.0        False  Madrid
26      Hotel Mirador Real        3.0        False  Madrid
32     Hotel Rincón Sereno        3.0        False  Madrid
33      Hotel Vista Alegre        2.9        False  Madrid
37        Hotel Costa Azul        3.1        False  Madrid
60    Hotel Maravilla Real        3.0        False  Madrid

In [179]:
# carga los datos de competencia, selecciona las columnas relevantes y asigna valores para 'competencia' y 'ciudad'
df_competencia = pd.read_pickle("../data/datos_extraidos/nombre_estrellas_precio.pickle")
df_competencia = df_competencia[["nombre_hotel", "estrellas"]]
df_competencia["competencia"] = True
df_competencia["ciudad"] = "Madrid"
df_competencia

                           nombre_hotel  estrellas  competencia  ciudad
0              ibis Styles Madrid Prado        4.7         True  Madrid
1           ibis budget Madrid Calle 30        4.4         True  Madrid
2         ibis Madrid Centro las Ventas        4.5         True  Madrid
3  ibis budget Madrid Centro las Ventas        4.3         True  Madrid
4           ibis budget Madrid Vallecas        4.3         True  Madrid
5        ibis Madrid Aeropuerto Barajas        4.4         True  Madrid
6        ibis Madrid Alcorcon Tresaguas        4.4         True  Madrid
7         ibis budget Madrid Aeropuerto        4.0         True  Madrid
8                ibis Madrid Alcobendas        4.4         True  Madrid
9  ibis budget Madrid Alcorcon Móstoles        4.5         True  Madrid

In [180]:
# combina los DataFrames de hoteles propios y competencia en uno solo, ignorando los indices originales
df_hoteles = pd.concat([df_propios, df_competencia], ignore_index=True)
df_hoteles

                            nombre_hotel  estrellas  competencia  ciudad
0                      Hotel Monte Verde        3.1        False  Madrid
1                   Hotel Brisas del Mar        3.1        False  Madrid
2                   Hotel Camino del Sol        3.1        False  Madrid
3                 Hotel Puerta del Cielo        3.0        False  Madrid
4                     Hotel Encanto Real        3.0        False  Madrid
5                        Palacio del Sol        3.0        False  Madrid
6                 Hotel Jardines del Rey        2.9        False  Madrid
7                    Hotel Las Estrellas        2.9        False  Madrid
8                      Gran Hotel Madrid        3.1        False  Madrid
9                     Hotel Torre Dorada        2.9        False  Madrid
10                Hotel Palacio Imperial        3.0        False  Madrid
11                   Hotel Luz de Madrid        3.1        False  Madrid
12                   Hotel Los Almendros        3.0        False  Madrid
13                      Hotel Sol y Luna        3.0        False  Madrid
14                    Hotel Mirador Real        3.0        False  Madrid
15                   Hotel Rincón Sereno        3.0        False  Madrid
16                    Hotel Vista Alegre        2.9        False  Madrid
17                      Hotel Costa Azul        3.1        False  Madrid
18                  Hotel Maravilla Real        3.0        False  Madrid
19              ibis Styles Madrid Prado        4.7         True  Madrid
20           ibis budget Madrid Calle 30        4.4         True  Madrid
21         ibis Madrid Centro las Ventas        4.5         True  Madrid
22  ibis budget Madrid Centro las Ventas        4.3         True  Madrid
23           ibis budget Madrid Vallecas        4.3         True  Madrid
24        ibis Madrid Aeropuerto Barajas        4.4         True  Madrid
25        ibis Madrid Alcorcon Tresaguas        4.4         True  Madrid
26         ibis budget Madrid Aeropuerto        4.0         True  Madrid
27                ibis Madrid Alcobendas        4.4         True  Madrid
28  ibis budget Madrid Alcorcon Móstoles        4.5         True  Madrid

In [185]:
# extrae los datos relevantes del DataFrame de hoteles, los prepara para la insercion en la base de datos y los organiza en una nueva tabla con los valores adecuados
data_to_insert = []
df_hotel = df_hoteles[["nombre_hotel", "estrellas", "competencia", "ciudad"]]
for _, row in df_hoteles.iterrows(): 
    nombre_hotel = row["nombre_hotel"]
    estrellas = row["estrellas"]
    competencia = row["competencia"]
    ciudad = row["ciudad"]
    id_ciudad = int(ciudad_dict.get(ciudad))
    data_to_insert.append([nombre_hotel, estrellas, competencia, id_ciudad]) 

tabla_hoteles = pd.DataFrame(data_to_insert, columns=["nombre_hotel", "estrellas", "competencia", "id_ciudad"])
tabla_hoteles.head()

             nombre_hotel  estrellas  competencia  id_ciudad
0       Hotel Monte Verde        3.1        False          1
1    Hotel Brisas del Mar        3.1        False          1
2    Hotel Camino del Sol        3.1        False          1
3  Hotel Puerta del Cielo        3.0        False          1
4      Hotel Encanto Real        3.0        False          1

In [183]:
# inserta los datos de la tabla 'hoteles' en la base de datos utilizando un comando SQL y ejecuta la transaccion
insert_query = """
        INSERT INTO hoteles (nombre_hotel, estrellas, competencia, id_ciudad)
        VALUES (%s, %s, %s, %s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

### Tabla clientes

In [212]:
# extrae y organiza los datos unicos de los clientes de df_reservas para crear un nuevo DataFrame tabla_clientes
data_to_insert = []
df_clientes = df_reservas[["id_cliente", "nombre", "apellido", "mail"]].drop_duplicates()
for _, row in df_clientes.iterrows(): 
    id_cliente = row["id_cliente"]
    nombre = row["nombre"]
    apellido = row["apellido"]
    mail = row["mail"]
    data_to_insert.append([id_cliente, nombre, apellido, mail]) 

tabla_clientes = pd.DataFrame(data_to_insert, columns=["id_cliente", "nombre", "apellido", "mail"])
tabla_clientes

      id_cliente     nombre   apellido                          mail
0              1  Feliciana     Cantón  feliciana.cantón@example.com
1              2   Leonardo     Hierro   leonardo.hierro@example.com
2              3      Maite  Calatayud   maite.calatayud@example.com
3              4      Tecla      Bonet       tecla.bonet@example.com
4              5    Amílcar     Andrés    amílcar.andrés@example.com
...          ...        ...        ...                           ...
14900      14901     Lorena      Román      lorena.román@example.com
14901      14902       Toño    Narváez      toño.narváez@example.com
14902      14903      Nadia    Verdugo     nadia.verdugo@example.com
14903      14904   Custodia      Marco    custodia.marco@example.com
14904      14905    Brígida      Salom     brígida.salom@example.com

[14905 rows x 4 columns]

In [201]:
# inserta los datos de los clientes en la tabla "clientes" de la base de datos usando la consulta SQL definida
insert_query = """
        INSERT INTO clientes (id_cliente, nombre, apellido, mail)
        VALUES (%s, %s, %s, %s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

### Tabla reservas

In [205]:
# ejecuta una consulta SQL para obtener los nombres de los hoteles y sus respectivos id, y los almacena en un diccionario
cur.execute("SELECT nombre_hotel, id_hotel FROM hoteles")
hotel_dict = dict(cur.fetchall()) 
hotel_dict

{'Hotel Monte Verde': 1,
 'Hotel Brisas del Mar': 2,
 'Hotel Camino del Sol': 3,
 'Hotel Puerta del Cielo': 4,
 'Hotel Encanto Real': 5,
 'Palacio del Sol': 6,
 'Hotel Jardines del Rey': 7,
 'Hotel Las Estrellas': 8,
 'Gran Hotel Madrid': 9,
 'Hotel Torre Dorada': 10,
 'Hotel Palacio Imperial': 11,
 'Hotel Luz de Madrid': 12,
 'Hotel Los Almendros': 13,
 'Hotel Sol y Luna': 14,
 'Hotel Mirador Real': 15,
 'Hotel Rincón Sereno': 16,
 'Hotel Vista Alegre': 17,
 'Hotel Costa Azul': 18,
 'Hotel Maravilla Real': 19,
 'ibis Styles Madrid Prado': 20,
 'ibis budget Madrid Calle 30': 21,
 'ibis Madrid Centro las Ventas': 22,
 'ibis budget Madrid Centro las Ventas': 23,
 'ibis budget Madrid Vallecas': 24,
 'ibis Madrid Aeropuerto Barajas': 25,
 'ibis Madrid Alcorcon Tresaguas': 26,
 'ibis budget Madrid Aeropuerto': 27,
 'ibis Madrid Alcobendas': 28,
 'ibis budget Madrid Alcorcon Móstoles': 29}

In [206]:
# ejecuta una consulta SQL para obtener los correos electronicos y los id de los clientes, y los almacena en un diccionario
cur.execute("SELECT mail, id_cliente FROM clientes")
cliente_dict = dict(cur.fetchall()) 
cliente_dict

{'feliciana.cantón@example.com': '1',
 'leonardo.hierro@example.com': '2',
 'maite.calatayud@example.com': '3',
 'tecla.bonet@example.com': '4',
 'amílcar.andrés@example.com': '5',
 'joan.vazquez@example.com': '6',
 'chelo.flor@example.com': '7',
 'judith.rivas@example.com': '8',
 'dolores.lobo@example.com': '9',
 'adolfo.cuervo@example.com': '10',
 'noé.lobo@example.com': '11',
 'maría carmen.navarro@example.com': '12',
 'ricardo.caballero@example.com': '13',
 'omar.lamas@example.com': '14',
 'luna.segovia@example.com': '15',
 'ágata.pinedo@example.com': '16',
 'lázaro.pardo@example.com': '17',
 'julie.baños@example.com': '18',
 'javier.mancebo@example.com': '19',
 'rita.guerrero@example.com': '20',
 'ricardo.lobo@example.com': '21',
 'perlita.patiño@example.com': '22',
 'pedro.gallego@example.com': '23',
 'judith.bellido@example.com': '24',
 'francisco javier.hierro@example.com': '25',
 'reynaldo.lerma@example.com': '26',
 'felicidad.gimenez@example.com': '27',
 'pía.barba@example.com': '28',
 'amílcar.moles@example.com': '29',
 'blas.galván@example.com': '30',
 'claudia.miranda@example.com': '31',
 'angelina.priego@example.com': '32',
 'fernanda.segarra@example.com': '33',
 'emilio.huerta@example.com': '34',
 'bárbara.jódar@example.com': '35',
 'tiburcio.pujol@example.com': '36',
 'emiliano.vergara@example.com': '37',
 'marisol.arévalo@example.com': '38',
 'ezequiel.cuesta@example.com': '39',
 'telmo.bartolomé@example.com': '40',
 'débora.solé@example.com': '41',
 'carolina.alberdi@example.com': '42',
 'darío.lasa@example.com': '43',
 'noé.cantón@example.com': '44',
 'fausto.santiago@example.com': '45',
 'lorenza.lago@example.com': '46',
 'maría belén.escalona@example.com': '47',
 'curro.martín@example.com': '48',
 'anunciación.flor@example.com': '49',
 'maría belén.cuéllar@example.com': '50',
 'melania.abascal@example.com': '51',
 'amaya.aliaga@example.com': '52',
 'primitivo.meléndez@example.com': '53',
 'jose angel.bermúdez@example.com': '54',
 'amalia.bayón@example.com': '55',
 'berta.casas@example.com': '56',
 'aitana.dalmau@example.com': '57',
 'salud.rocha@example.com': '58',
 'úrsula.font@example.com': '59',
 'sabas.perea@example.com': '60',
 'asunción.sanmiguel@example.com': '61',
 'jafet.baró@example.com': '62',
 'dionisia.grau@example.com': '63',
 'adrián.belda@example.com': '64',
 'benigno.granados@example.com': '65',
 'amílcar.murillo@example.com': '66',
 'jordán.lopez@example.com': '67',
 'iker.catalán@example.com': '68',
 'sofía.suárez@example.com': '69',
 'ainara.ramírez@example.com': '70',
 'cleto.rosa@example.com': '71',
 'segismundo.solera@example.com': '72',
 'baltasar.cabello@example.com': '73',
 'luisa.nicolau@example.com': '74',
 'césar.ibarra@example.com': '75',
 'brunilda.sanabria@example.com': '76',
 'gervasio.lopez@example.com': '77',
 'sandra.benet@example.com': '78',
 'rosalva.cabañas@example.com': '79',
 'calixta.alcolea@example.com': '80',
 'ángeles.guzmán@example.com': '81',
 'amalia.teruel@example.com': '82',
 'salvador.barral@example.com': '83',
 'abilio.portero@example.com': '84',
 'miguela.sanz@example.com': '85',
 'josefina.torrecilla@example.com': '86',
 'manu.gelabert@example.com': '87',
 'cruz.barrera@example.com': '88',
 'baudelio.ayllón@example.com': '89',
 'ani.criado@example.com': '90',
 'apolonia.bernat@example.com': '91',
 'bruno.bayo@example.com': '92',
 'joel.quintanilla@example.com': '93',
 'tania.hoz@example.com': '94',
 'aníbal.bilbao@example.com': '95',
 'dalila.yáñez@example.com': '96',
 'juan carlos.fuente@example.com': '97',
 'mauricio.gómez@example.com': '98',
 'eleuterio.marín@example.com': '99',
 'úrsula.belmonte@example.com': '100',
 'ester.cabo@example.com': '101',
 'ignacio.velasco@example.com': '102',
 'paco.bayona@example.com': '103',
 'rafael.lópez@example.com': '104',
 'perla.mate@example.com': '105',
 'noemí.ángel@example.com': '106',
 'olga.marí@example.com': '107',
 'cristóbal.cañizares@example.com': '108',
 'tania.campo@example.com': '109',
 'fabricio.lladó@example.com': '110',
 'humberto.novoa@example.com': '111',
 'fabiana.laguna@example.com': '112',
 'josé.azcona@example.com': '113',
 'teo.lloret@example.com': '114',
 'nazario.castrillo@example.com': '115',
 'juan francisco.cuéllar@example.com': '116',
 'carmen.roma@example.com': '117',
 'dani.benet@example.com': '118',
 'jessica.company@example.com': '119',
 'perlita.peiró@example.com': '120',
 'eusebio.ropero@example.com': '121',
 'mario.pastor@example.com': '122',
 'natividad.ariño@example.com': '123',
 'humberto.iborra@example.com': '124',
 'paulino.ramos@example.com': '125',
 'maribel.cortes@example.com': '126',
 'jordi.cámara@example.com': '127',
 'obdulia.elorza@example.com': '128',
 'amador.escobar@example.com': '129',
 'nazaret.requena@example.com': '130',
 'rosario.hurtado@example.com': '131',
 'mirta.campoy@example.com': '132',
 'antonio.sosa@example.com': '133',
 'olga.seguí@example.com': '134',
 'otilia.goñi@example.com': '135',
 'georgina.ferrando@example.com': '136',
 'león.baños@example.com': '137',
 'león.ortega@example.com': '138',
 'salomón.muñoz@example.com': '139',
 'david.julián@example.com': '140',
 'juan manuel.arenas@example.com': '141',
 'toño.ojeda@example.com': '142',
 'mauricio.rubio@example.com': '143',
 'ariadna.carlos@example.com': '144',
 'corona.falcón@example.com': '145',
 'leandra.rubio@example.com': '146',
 'ángela.figueras@example.com': '147',
 'buenaventura.murillo@example.com': '148',
 'gracia.casanovas@example.com': '149',
 'marcelo.vendrell@example.com': '150',
 'sebastian.morera@example.com': '151',
 'manolo.castejón@example.com': '152',
 'graciana.pinilla@example.com': '153',
 'vanesa.dávila@example.com': '154',
 'marcial.ramis@example.com': '155',
 'aarón.mateu@example.com': '156',
 'tito.montserrat@example.com': '157',
 'vasco.garcía@example.com': '158',
 'nadia.doménech@example.com': '159',
 'loreto.villalba@example.com': '160',
 'estefanía.naranjo@example.com': '161',
 'maricruz.gutierrez@example.com': '162',
 'jafet.flor@example.com': '163',
 'arturo.hierro@example.com': '164',
 'emiliana.beltran@example.com': '165',
 'soraya.ferreras@example.com': '166',
 'rodrigo.urrutia@example.com': '167',
 'eusebio.adán@example.com': '168',
 'rosalinda.campillo@example.com': '169',
 'isidoro.echeverría@example.com': '170',
 'josefa.villaverde@example.com': '171',
 'cecilia.ibañez@example.com': '172',
 'domingo.sastre@example.com': '173',
 'abril.molins@example.com': '174',
 'tatiana.salas@example.com': '175',
 'loida.vargas@example.com': '176',
 'victoria.salmerón@example.com': '177',
 'mar.taboada@example.com': '178',
 'maricruz.huertas@example.com': '179',
 'leonel.vázquez@example.com': '180',
 'jorge.llobet@example.com': '181',
 'leyre.macias@example.com': '182',
 'nico.montenegro@example.com': '183',
 'cecilio.chacón@example.com': '184',
 'rodolfo.corominas@example.com': '185',
 'bernardo.ribera@example.com': '186',
 'candela.solano@example.com': '187',
 'hilario.rivera@example.com': '188',
 'maría luisa.aller@example.com': '189',
 'maría del carmen.pintor@example.com': '190',
 'pastor.martín@example.com': '191',
 'reyna.rius@example.com': '192',
 'macaria.giménez@example.com': '193',
 'leandro.ruano@example.com': '194',
 'roque.navarrete@example.com': '195',
 'nazaret.quiroga@example.com': '196',
 'priscila.solsona@example.com': '197',
 'esther.amores@example.com': '198',
 'dora.amores@example.com': '199',
 'tiburcio.cerdá@example.com': '200',
 'germán.ayllón@example.com': '201',
 'nacio.galán@example.com': '202',
 'nicolás.pinilla@example.com': '203',
 'paz.robles@example.com': '204',
 'ceferino.sosa@example.com': '205',
 'calista.azorin@example.com': '206',
 'pancho.gomez@example.com': '207',
 'mercedes.arjona@example.com': '208',
 'jose miguel.flores@example.com': '209',
 'ester.corominas@example.com': '210',
 'ainara.carbó@example.com': '211',
 'isaías.sola@example.com': '212',
 'maría fernanda.peinado@example.com': '213',
 'elvira.carbó@example.com': '214',
 'fernando.merino@example.com': '215',
 'amancio.mesa@example.com': '216',
 'vilma.perez@example.com': '217',
 'ligia.fiol@example.com': '218',
 'jessica.herrero@example.com': '219',
 'maría teresa.mata@example.com': '220',
 'eli.carrillo@example.com': '221',
 'clarisa.armengol@example.com': '222',
 'tiburcio.pellicer@example.com': '223',
 'flora.nogueira@example.com': '224',
 'sosimo.trillo@example.com': '225',
 'porfirio.segura@example.com': '226',
 'trinidad.echeverría@example.com': '227',
 'florina.león@example.com': '228',
 'zaira.tomás@example.com': '229',
 'paola.ledesma@example.com': '230',
 'jose luis.bolaños@example.com': '231',
 'virgilio.hervás@example.com': '232',
 'clotilde.pinilla@example.com': '233',
 'ana belén.morcillo@example.com': '234',
 'ibán.pacheco@example.com': '235',
 'noé.losa@example.com': '236',
 'judith.llorente@example.com': '237',
 'asunción.feijoo@example.com': '238',
 'lola.ramos@example.com': '239',
 'marta.hernandez@example.com': '240',
 'flavia.tudela@example.com': '241',
 'ale.buendía@example.com': '242',
 'sandalio.hervia@example.com': '243',
 'cándida.peinado@example.com': '244',
 'bernarda.núñez@example.com': '245',
 'marcia.muro@example.com': '246',
 'wilfredo.lillo@example.com': '247',
 'jerónimo.carrillo@example.com': '248',
 'maximiano.carreras@example.com': '249',
 'maría belén.esteve@example.com': '250',
 'mamen.tomé@example.com': '251',
 'dolores.zamorano@example.com': '252',
 'cornelio.ferrera@example.com': '253',
 'poncio.escobar@example.com': '254',
 'leandra.castañeda@example.com': '255',
 'baltasar.manzano@example.com': '256',
 'edmundo.tudela@example.com': '257',
 'albano.luís@example.com': '258',
 'valero.niño@example.com': '259',
 'aurelio.iriarte@example.com': '260',
 'ale.carbonell@example.com': '261',
 'salvador.téllez@example.com': '262',
 'eva.baeza@example.com': '263',
 'obdulia.mateu@example.com': '264',
 'jose ramón.carrasco@example.com': '265',
 'sigfrido.gonzalez@example.com': '266',
 'ricardo.sanjuan@example.com': '267',
 'manuel.romeu@example.com': '268',
 'estela.barrena@example.com': '269',
 'manola.cabezas@example.com': '270',
 'hipólito.galván@example.com': '271',
 'ceferino.crespo@example.com': '272',
 'carmina.benavides@example.com': '273',
 'sebastian.sanjuan@example.com': '274',
 'adoración.manuel@example.com': '275',
 'luis.luna@example.com': '276',
 'wilfredo.belda@example.com': '277',
 'ámbar.lamas@example.com': '278',
 'eufemia.figuerola@example.com': '279',
 'candelas.gomila@example.com': '280',
 'violeta.larrañaga@example.com': '281',
 'calixto.barreda@example.com': '282',
 'marino.malo@example.com': '283',
 'adelina.mateu@example.com': '284',
 'lalo.vall@example.com': '285',
 'urbano.bernat@example.com': '286',
 'tamara.rosales@example.com': '287',
 'elisabet.ibáñez@example.com': '288',
 'jenaro.almansa@example.com': '289',
 'hortensia.leon@example.com': '290',
 'maría carmen.díez@example.com': '291',
 'florinda.salamanca@example.com': '292',
 'gerardo.ruano@example.com': '293',
 'amparo.bou@example.com': '294',
 'sebastian.mínguez@example.com': '295',
 'cruz.cuevas@example.com': '296',
 'joaquina.valbuena@example.com': '297',
 'salvador.arco@example.com': '298',
 'maxi.iniesta@example.com': '299',
 'maría teresa.quintero@example.com': '300',
 'paloma.abella@example.com': '301',
 'candela.sevilla@example.com': '302',
 'godofredo.villegas@example.com': '303',
 'maristela.valentín@example.com': '304',
 'martirio.aznar@example.com': '305',
 'carmela.castro@example.com': '306',
 'urbano.tormo@example.com': '307',
 'eva maría.heras@example.com': '308',
 'maría.alcalá@example.com': '309',
 'ciro.gomila@example.com': '310',
 'ximena.carballo@example.com': '311',
 'desiderio.correa@example.com': '312',
 'lilia.manzanares@example.com': '313',
 'leandro.ribes@example.com': '314',
 'agustina.hervás@example.com': '315',
 'espiridión.pla@example.com': '316',
 'elena.verdejo@example.com': '317',
 'elías.baños@example.com': '318',
 'montserrat.ribera@example.com': '319',
 'mirta.vera@example.com': '320',
 'abilio.luna@example.com': '321',
 'pilar.tovar@example.com': '322',
 'victoriano.tomé@example.com': '323',
 'carmina.pi@example.com': '324',
 'modesto.fabregat@example.com': '325',
 'jorge.piñol@example.com': '326',
 'maura.reig@example.com': '327',
 'marcela.suárez@example.com': '328',
 'obdulia.piquer@example.com': '329',
 'gracia.cornejo@example.com': '330',
 'angelino.cases@example.com': '331',
 'dominga.mármol@example.com': '332',
 'sandra.sacristán@example.com': '333',
 'visitación.saura@example.com': '334',
 'ernesto.redondo@example.com': '335',
 'fabián.benavides@example.com': '336',
 'juan manuel.nevado@example.com': '337',
 'rómulo.bernat@example.com': '338',
 'reyes.pinto@example.com': '339',
 'eugenia.torrents@example.com': '340',
 'andrés felipe.bayona@example.com': '341',
 'isaura.madrigal@example.com': '342',
 'margarita.botella@example.com': '343',
 'clímaco.cabrera@example.com': '344',
 'joaquina.marí@example.com': '345',
 'arturo.morata@example.com': '346',
 'lázaro.palmer@example.com': '347',
 'esteban.hidalgo@example.com': '348',
 'clarisa.escolano@example.com': '349',
 'cayetano.piñeiro@example.com': '350',
 'jose angel.valenciano@example.com': '351',
 'eric.guerra@example.com': '352',
 'josé manuel.segura@example.com': '353',
 'agapito.sola@example.com': '354',
 'inés.cruz@example.com': '355',
 'onofre.martínez@example.com': '356',
 'teobaldo.ibáñez@example.com': '357',
 'marciano.flor@example.com': '358',
 'reyna.tomas@example.com': '359',
 'rico.palomar@example.com': '360',
 'juana.marquez@example.com': '361',
 'paula.priego@example.com': '362',
 'clarisa.avilés@example.com': '363',
 'marcia.valdés@example.com': '364',
 'vanesa.macías@example.com': '365',
 'jeremías.ortuño@example.com': '366',
 'goyo.iglesia@example.com': '367',
 'lorena.cerro@example.com': '368',
 'vera.ariza@example.com': '369',
 'valero.aragonés@example.com': '370',
 'lupita.catalá@example.com': '371',
 'manolo.morillo@example.com': '372',
 'gabino.font@example.com': '373',
 'calista.paz@example.com': '374',
 'xiomara.llamas@example.com': '375',
 'josé ángel.tirado@example.com': '376',
 'manolo.nevado@example.com': '377',
 'adelina.benet@example.com': '378',
 'jaime.puerta@example.com': '379',
 'nilda.paz@example.com': '380',
 'ruperto.alcalá@example.com': '381',
 'duilio.sanz@example.com': '382',
 'marianela.juárez@example.com': '383',
 'pacífica.pera@example.com': '384',
 'joaquín.soto@example.com': '385',
 'soledad.mosquera@example.com': '386',
 'ismael.barroso@example.com': '387',
 'abril.matas@example.com': '388',
 'demetrio.chaves@example.com': '389',
 'anselmo.mayo@example.com': '390',
 'david.cabanillas@example.com': '391',
 'brígida.cerdá@example.com': '392',
 'raimundo.rius@example.com': '393',
 'lucía.cortes@example.com': '394',
 'fátima.cabeza@example.com': '395',
 'encarnación.raya@example.com': '396',
 'lino.aparicio@example.com': '397',
 'isaac.salcedo@example.com': '398',
 'jonatan.pareja@example.com': '399',
 'itziar.pedrero@example.com': '400',
 'filomena.palmer@example.com': '401',
 'leoncio.falcó@example.com': '402',
 'regina.sanz@example.com': '403',
 'ibán.almazán@example.com': '404',
 'nazario.hervia@example.com': '405',
 'miriam.fuertes@example.com': '406',
 'maría del carmen.galan@example.com': '407',
 'odalis.guijarro@example.com': '408',
 'eusebio.acedo@example.com': '409',
 'espiridión.castillo@example.com': '410',
 'nazaret.díaz@example.com': '411',
 'roxana.amigó@example.com': '412',
 'pepito.gárate@example.com': '413',
 'alcides.dávila@example.com': '414',
 'edmundo.robledo@example.com': '415',
 'marcia.bartolomé@example.com': '416',
 'mayte.paredes@example.com': '417',
 'césar.sans@example.com': '418',
 'encarnacion.aroca@example.com': '419',
 'violeta.vázquez@example.com': '420',
 'fernanda.anguita@example.com': '421',
 'alejandra.querol@example.com': '422',
 'cándido.trujillo@example.com': '423',
 'vicente.beltrán@example.com': '424',
 'modesto.colomer@example.com': '425',
 'leonardo.morcillo@example.com': '426',
 'edelmira.mariño@example.com': '427',
 'elodia.ros@example.com': '428',
 'judith.carbó@example.com': '429',
 'florina.garrido@example.com': '430',
 'susanita.gracia@example.com': '431',
 'pastora.santana@example.com': '432',
 'luna.bustamante@example.com': '433',
 'matías.jara@example.com': '434',
 'ezequiel.sánchez@example.com': '435',
 'paz.blázquez@example.com': '436',
 'clemente.peralta@example.com': '437',
 'cayetana.barreda@example.com': '438',
 'chita.murcia@example.com': '439',
 'segismundo.otero@example.com': '440',
 'maricela.rocha@example.com': '441',
 'lorena.aznar@example.com': '442',
 'eli.miguel@example.com': '443',
 'crescencia.vera@example.com': '444',
 'gala.toledo@example.com': '445',
 'cándido.ordóñez@example.com': '446',
 'quirino.cardona@example.com': '447',
 'consuela.gonzalo@example.com': '448',
 'ramona.amo@example.com': '449',
 'gema.lastra@example.com': '450',
 'leandro.mendizábal@example.com': '451',
 'pascual.aguado@example.com': '452',
 'eric.pérez@example.com': '453',
 'manu.anglada@example.com': '454',
 'bernarda.garrido@example.com': '455',
 'wilfredo.nogueira@example.com': '456',
 'mateo.morata@example.com': '457',
 'clementina.blazquez@example.com': '458',
 'fabricio.criado@example.com': '459',
 'augusto.bilbao@example.com': '460',
 'gisela.rodrigo@example.com': '461',
 'vasco.ribas@example.com': '462',
 'marisol.vila@example.com': '463',
 'tito.cantero@example.com': '464',
 'irene.torrecilla@example.com': '465',
 'mario.arroyo@example.com': '466',
 'elena.ballesteros@example.com': '467',
 'marcial.galván@example.com': '468',
 'maría cristina.jaume@example.com': '469',
 'dimas.aguilera@example.com': '470',
 'tito.echevarría@example.com': '471',
 'berta.grau@example.com': '472',
 'perla.pablo@example.com': '473',
 'rosalva.arnal@example.com': '474',
 'ángel.bermejo@example.com': '475',
 'coral.román@example.com': '476',
 'leire.rios@example.com': '477',
 'sandalio.almansa@example.com': '478',
 'francisco javier.seguí@example.com': '479',
 'zaira.paredes@example.com': '480',
 'rafaela.camacho@example.com': '481',
 'dolores.pérez@example.com': '482',
 'ruy.menéndez@example.com': '483',
 'ismael.mínguez@example.com': '484',
 'carmelo.vicens@example.com': '485',
 'bernarda.viana@example.com': '486',
 'maura.olmedo@example.com': '487',
 'olivia.coloma@example.com': '488',
 'esteban.jaén@example.com': '489',
 'eligia.coronado@example.com': '490',
 'gabriela.benet@example.com': '491',
 'maría teresa.uribe@example.com': '492',
 'cintia.sanchez@example.com': '493',
 'sofía.moraleda@example.com': '494',
 'eulalia.molina@example.com': '495',
 'borja.somoza@example.com': '496',
 'marcio.llobet@example.com': '497',
 'pastor.vera@example.com': '498',
 'íñigo.sans@example.com': '499',
 'rafa.madrid@example.com': '500',
 'rosario.bosch@example.com': '501',
 'anunciación.planas@example.com': '502',
 'casandra.armengol@example.com': '503',
 'nélida.fabra@example.com': '504',
 'alba.vallejo@example.com': '505',
 'bernabé.sanjuan@example.com': '506',
 'trini.nuñez@example.com': '507',
 'cesar.vargas@example.com': '508',
 'aníbal.huguet@example.com': '509',
 'valentín.zamora@example.com': '510',
 'federico.pascual@example.com': '511',
 'lorenzo.ponce@example.com': '512',
 'nilo.badía@example.com': '513',
 'flor.nadal@example.com': '514',
 'ciríaco.pomares@example.com': '515',
 'lourdes.conesa@example.com': '516',
 'dafne.cid@example.com': '517',
 'martín.pou@example.com': '518',
 'leandra.blazquez@example.com': '519',
 'renato.moya@example.com': '520',
 'herminia.zurita@example.com': '521',
 'herminia.roda@example.com': '522',
 'alejandro.pareja@example.com': '523',
 'iker.noguera@example.com': '524',
 'amalia.fernandez@example.com': '525',
 'emigdio.cortina@example.com': '526',
 'rafaela.cadenas@example.com': '527',
 'calista.zurita@example.com': '528',
 'nicodemo.castro@example.com': '529',
 'fabio.cámara@example.com': '530',
 'jimena.daza@example.com': '531',

In [215]:
# crea un DataFrame con las reservas unicas, luego itera para insertar datos y asignar los ids correspondientes de clientes y hoteles
data_to_insert = []
df_tabla_reservas = df_reservas[["id_reserva", "fecha_reserva", "inicio_estancia", "final_estancia", "precio_noche", "mail", "nombre_hotel"]]
for _, row in df_tabla_reservas.iterrows(): 
    id_reserva = row["id_reserva"]
    fecha_reserva = row["fecha_reserva"]
    inicio_estancia = row["inicio_estancia"]
    final_estancia = row["final_estancia"]
    precio_noche = row["precio_noche"]
    mail = row["mail"]
    id_cliente = cliente_dict.get(mail)
    nombre_hotel = row["nombre_hotel"]
    id_hotel = hotel_dict.get(nombre_hotel)
    data_to_insert.append([id_reserva, fecha_reserva, inicio_estancia, final_estancia, precio_noche, id_cliente, id_hotel]) 

tabla_reservas = pd.DataFrame(data_to_insert, columns=["id_reserva", "fecha_reserva", "inicio_estancia", "final_estancia", "precio_noche", "id_cliente", "id_hotel"])
tabla_reservas.head()

,id_reserva,fecha_reserva,inicio_estancia,final_estancia,precio_noche,id_cliente,id_hotel
0,5256cc90-139b-43d2-8ec5-412495d751cf,2025-02-21,2025-03-01,2025-03-02,161.00,1,20
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,2025-02-21,2025-03-01,2025-03-02,110.00,2,21
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,2025-02-09,2025-03-01,2025-03-02,119.96,3,1
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,2025-02-08,2025-03-01,2025-03-02,211.53,4,2
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,2025-02-02,2025-03-01,2025-03-02,378.37,5,3

In [210]:
# inserta multiples filas de reservas en la tabla de la base de datos utilizando la consulta SQL con los datos preparados
insert_query = """
        INSERT INTO reservas (id_reserva, fecha_reserva, inicio_estancia, final_estancia, precio_noche, id_cliente, id_hotel)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

In [217]:
# cierra la conexion a la base de datos y el cursor
cur.close()
conn.close()